################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/POS/FileContentIndex/bccdb97f-0c85-4a56-a867-8653f097c362.vsidx
/.vs/POS/FileContentIndex/3494c6ac-2394-49d7-9e86-0382beed554b.vsidx
/.vs/POS/FileContentIndex/d4d03fe2-6ccb-4770-bb86-375315a0dca0.vsidx
/.vs/POS/FileContentIndex/6102f605-b417-49b8-bee2-98134e1f3803.vsidx
/.vs/POS/FileContentIndex/ec95d810-6a9e-42c7-b1a0-c79485d6d3bd.vsidx
